@import '../../../assets/variables.scss';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/login-back.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  .card-home {
    border: 1px solid white;
    padding: 12rem;
    color: white;
    background-color: $background-primary;

    .title {
      font-size: 5rem;
    }
    .message {
      font-size: 3rem;
    }
  }
}