@import '../../../assets/variables.scss';

.home {

  .card-home {
    border: 1px solid white;
    padding: 12rem;
    color: white;
    background-color: $background-primary;

    .title {
      font-size: 5rem;
    }
    .message {
      font-size: 3rem;
    }
  }
}