<div class="principal-container artist-list">
  <div class="artist-list-card">
    <div class="card-header">
      <h1>Artists</h1>
      <button class="btn btn-secondary btn-custom" *ngIf="identity.role === 'ROLE_ADMIN'" (click)="addArtist()">
        <i class="material-icons"> person_add </i> Add Artist 
      </button>
    </div>

    <div class="card-body" *ngIf="artistList">
      <div class="artist-item" *ngFor="let artist of artistList">
        <app-artist-item
          [artist]="artist"
          [userRole]="identity.role"
          (updateArtistOut)="updateArtist($event)" 
          (deleteArtistOut)="deleteArtist($event)"
        ></app-artist-item>
      </div>
    </div>

    <div class="card-footer">
      <app-pagination-bar
        *ngIf="totalItems"
        [totalItems]="totalItems"
        (goToPageOut)="goToPage($event)"
      ></app-pagination-bar>
    </div>
  </div>

</div>
