<div class="row app-container">

  <div class="navigation-bar col-lg-2 col-md-2" *ngIf="identity">
    <div class="brand ">
      {{ title }} 
    </div>
  
    <div class="item cursorDefault">
      <img
        src="{{ url + '/get-image-user/' + identity.image }}"
        class="img-container"
        *ngIf="identity.image && identity.image != 'null'"/>
      <img
        src="../assets/images/default-user.png"
        class="img-container"
        *ngIf="!identity.image || identity.image == 'null'"/>
      <h4 class="">{{ identity.name }}</h4>
    </div>
    
    <div [routerLink]="['/home']" [routerLinkActive]="['actived']" class="item item-flex">
      <i class="material-icons mr-2"> home </i>
      <div> Home </div>
    </div>

    <div [routerLink]="['/artist-list']" [routerLinkActive]="['actived']" class="item item-flex">
      <i class="material-icons mr-2"> child_care </i>
      <div> Artists </div>
    </div>

    <div [routerLink]="['/album-list']" [routerLinkActive]="['actived']" class="item item-flex">
      <i class="material-icons mr-2"> disc_full </i>
      <div> Albums </div>
    </div>

    <div [routerLink]="['/user-info']" [routerLinkActive]="['actived']" class="item item-flex">
      <i class="material-icons mr-2"> settings </i>
      <div> Edit info </div>
    </div>
    
    <div class="item item-flex" (click)="logOut()">
      <i class="material-icons mr-2"> power_settings_new </i> 
      <div>  Log Out </div>
    </div>
  </div>
  
  <div class="col-lg-10 col-md-10 content-col" *ngIf="identity">
    <router-outlet></router-outlet>
  </div>

</div>

<app-sing-up-form
  *ngIf="!identity"
  (identityOut)="identityFromForm($event)"
></app-sing-up-form>

