.album-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/login-back.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}