.user-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/login-back.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  .form-container {
    height: 37rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;

    .form-style {
      border: 2px solid black;
      width: 100%;
      padding: 3rem;
      text-align: center;
      background: #00000052;

      .form {
        .btn-custom {
          background-color: #4E8689;
          border-color: #4E8689;
        }

        .form-row-custom {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem;

          .img-container {
            width: 10rem;
            height: 10rem;
          }
        }
      }

      .alert {
        margin-top: 1rem;
      }

      .login-text {
        color: white;
        margin: 1rem;
      }
    }
  }
}

