/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.principal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/login-back.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}